/script/config.py
.micropico
01 Basic Setup.txt
02 Script.txt
Base.stl
bme280 Protector.stl
Weatherstation.FCStd
Weatherstation.FCStd1
.vscode/extensions.json
.vscode/settings.json
script/.vscode/settings.json
script/.vscode/extensions.json
